.form-input {
    display: flex;
    align-items: center;
    gap: 8px;
    

    input {
        padding: 4px 8px;
        height: 32px;
        border: none;
        border-radius: 8px;
        font-size: 14px;

        &:focus {
            outline: 2px solid #ccc;
        }
    }
}
